<!DOCTYPE html>
<html>
  <head>
    <title>Rin Movie</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
            <img style="max-width:35px; margin-top: -7px;" alt="Brand" src="https://cdn0.iconfinder.com/data/icons/flowers-4/154/rose-flower-512.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <% if (user != null) { %>
                <li><a href="/profile">My Profile</a></li>
            <% } %>
          </ul>
          <!-- search bar -->
          
          <ul class="nav navbar-nav navbar-right">
            <% if (user == null) { %>
                <form class="navbar-form navbar-left" role="sign-in" action="/login" method="post">
                    <div class="form-group" >
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input pattern=".{5,}" required title="Email address incomplete." type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name = "email">
                    </div>
                        <div class="form-group" name="password">
                        <label class="sr-only" for="exampleInputPassword3">Password</label>
                        <input pattern=".{1,}" required title="Password too short." type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name = "password">
                    </div>
                    <!--div class="checkbox" name="check">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
                    </div-->
                    <button type="submit" class="btn btn-link">Sign In</button>
                </form>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/auth/facebook">Login with Facebook!</a></li>
            <% } else { %>
                <% var name = user.local.username %>
                <% if (name == undefined) name = user.facebook.name %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= name %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">My Profile</a></li>
                        <li><a href="/account">My Account</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </li>
            <% } %> 

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--profile detail-->
    <div class = "col-md-3 col-sm-offset-1">
    <!--need to modify this when profile_owner information is ready to use-->
    <% if (profile_owner == null) { profile_owner = user;}%>
    <% if (profile_owner != null) { %>
        <div class="row">
            <div class="col-md-12">
                <img src= "<%= profile_owner.local.avatar%>" width = "100%" height="100%"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <% if (profile_owner.local.username != undefined) { %>
                <p><h3><%= profile_owner.local.username %></h3></p>
                <%} else {%>
                <p><h3><%= profile_owner.facebook.name %></h3></p>
                <%}%>
            </div>
        </div>
        <!--add friend button-->
        <% if (true) { %>
        <div class="row">
            <div class="col-md-12">
                <a href="addFriend" class="btn btn-danger btn-lg btn-block">Add Friend</a>
            </div>
        </div>
        <%  } %>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <!--Friends-->
        <div class = "col-md-12">
            <h5>Friends List:</h5>
        </div>
        <% for (var i=0; i < 10; i++) { %>
        <div class="row">
            <div class="col-md-4 col-sm-offset-1">
                <img src="http://thesocietypages.org/socimages/files/2009/05/vimeo.jpg" width="100%" height="100%">
            </div>
            <div class="col-md-7">
                <p></p>
                <a href="#" onclick="" class="">name</a>
            </div>
            <div class="col-md-12">
                <p></p>
            </div>
        </div>
        <% } %>
    <% } %>
    <div class="row"><h1></h1></div>
    </div>
    <!--movie/actor/director list-->
    <div class = "col-md-7">
        <!--movie list-->
        <div class = "col-md-12">
            <h4>Movies To Watch:</h4>
        </div>
        <% for (var i=0; i < 2; i++) { %>
        <div class="row">
            <div class = "col-md-1">
            </div>
            <% for (var j=0; j < 5; j++) { %>
            <div class = "col-md-2">
                <img src="https://upload.wikimedia.org/wikipedia/zh/8/80/%E6%88%91%E7%9A%84%E5%B0%91%E5%A5%B3%E6%97%B6%E4%BB%A3.jpg" width="100%" height="100%">
                <a href="#" onclick="" class="">Our Times</a>
            </div>
            <% } %>
        </div>
        <% } %>
        <div class = "col-md-12">
            <h4>Movies Watched:</h4>
        </div>
        <% for (var i=0; i < 2; i++) { %>
        <div class="row">
            <div class = "col-md-1">
            </div>
            <% for (var j=0; j < 5; j++) { %>
            <div class = "col-md-2">
                <img src="https://upload.wikimedia.org/wikipedia/zh/8/80/%E6%88%91%E7%9A%84%E5%B0%91%E5%A5%B3%E6%97%B6%E4%BB%A3.jpg" width="100%" height="100%">
                <a href="#" onclick="" class="">Our Times</a>
            </div>
            <% } %>
        </div>
        <% } %>
        <!--Favorite Actors-->
        <div class = "col-md-12">
            <h4>Favorite Actors:</h4>
        </div>
        <% for (var i=0; i < 1; i++) { %>
        <div class="row">
            <div class = "col-md-1">
            </div>
            <% for (var j=0; j < 5; j++) { %>
            <div class = "col-md-2">
                <img src="http://ia.media-imdb.com/images/M/MV5BMTU3MzM3MDYzMV5BMl5BanBnXkFtZTcwNzk1Mzc3NA@@._V1_UX214_CR0,0,214,317_AL_.jpg" width="100%" height="100%">
                <a href="#" onclick="" class="">Ellen Page</a>
            </div>
            <% } %>
        </div>
        <% } %>
        <!--Favorite Director-->
        <div class = "col-md-12">
            <h4>Favorite Directors:</h4>
        </div>
        <% for (var i=0; i < 1; i++) { %>
        <div class="row">
            <div class = "col-md-1">
            </div>
            <% for (var j=0; j < 5; j++) { %>
            <div class = "col-md-2">
                <img src="http://ia.media-imdb.com/images/M/MV5BMTY1NjAzNzE1MV5BMl5BanBnXkFtZTYwNTk0ODc0._V1_SX640_SY720_.jpg" width="100%" height="100%">
                <a href="#" onclick="" class="">Steven Spielberg</a>
            </div>
            <% } %>
        </div>
        <% } %>
        <div class="row"><h1></h1></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  </body>
</html>