<!DOCTYPE html>
<html>
  <head>
    <title>Rin Movie</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
      		<a class="navbar-brand" href="/">
        	<img style="max-width:35px; margin-top: -7px;" alt="Brand" src="https://cdn0.iconfinder.com/data/icons/flowers-4/154/rose-flower-512.png">
      		</a>
    	</div>
	    <div>
	      <ul class="nav navbar-nav">
	      	<li><a href="/">Home</a></li>
	        <li class="active"><a href="/search">Search</a></li>
	        <li><a href="/profile">My Profile</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<form class="navbar-form navbar-left" role="sign-in">
				<div class="form-group">
					<label class="sr-only" for="exampleInputEmail3">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
				</div>
				  	<div class="form-group">
				    <label class="sr-only" for="exampleInputPassword3">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
				</div>
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Remember me
				    </label>
				</div>
	        	<button type="submit" class="btn btn-link">Sign In</button>
	      	</form>
	        <li><a href="/register">Sign Up</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
    <form class="form-inline">
	  	<div class="featurette">
	   	<div class="featurette-inner">
	      	<form role="form" class="search">
	         	<div class="input-group input-group-lg col-md-9 col-sm-offset-2 text-center">
		            <input type="search" placeholder="Movie, Actor, Director, User..." class="form-control">
		            <span class="input-group-btn text-left">
		            	<button class="btn btn-danger" type="button">Search</button>
		            </span>
	         	</div>
	         	<!-- /input-group -->
	         	<div class="input-group col-sm-offset-2 text-left text-muted">
		         	<label class="checkbox-inline">
	  					<input type="checkbox" id="inlineCheckbox1" value="option1"> Movie
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" id="inlineCheckbox2" value="option2"> Actor
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" id="inlineCheckbox3" value="option3"> Director
					</label>
					<label class="checkbox-inline">
	  					<input type="checkbox" id="inlineCheckbox3" value="option3"> User
					</label>
				</div>
	      	</form>
	      	<!-- /.max-width on this form -->

	   	</div>
   	<!-- /.featurette-inner (display:table-cell) -->

</div>
	</form>
  </body>
</html>
