body {
  background: url("http://static.tumblr.com/9u2zteh/rzWm89x61/background-backgrounds-floral-pattern-favim.com-261471.jpg");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.heading {
  text-align: center;
}

h1 {
  padding-top: 3cm;
  color: black;
  font-size: 500%;
}

p {
  padding-top: 2cm;
  color: black;
  font-size: 200%;
}
